In [3]:
import pandas as pd

In [4]:
 
mock_data = {
    'Category': ['Groceries', 'Rent', 'Utilities', 'Dining', 'Entertainment', 'Transport', 'Healthcare'],
    'Amount_Spent': [250, 1200, 300, 150, 100, 80, 200],
    'Month': ['January', 'January', 'January', 'January', 'January', 'January', 'January']
}

 
df = pd.DataFrame(mock_data)

 
df

        Category  Amount_Spent    Month
0      Groceries           250  January
1           Rent          1200  January
2      Utilities           300  January
3         Dining           150  January
4  Entertainment           100  January
5      Transport            80  January
6     Healthcare           200  January